body {
  margin: 0.1;
  font-family: "Times New Roman", Times, serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Verdana, Arial, sans-serif;
}
